.user-rating
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    padding: 15px;
    padding-right: 30px;
    width: 280px;
    background-color: var(--fg-color);
    border-radius: var(--corner-radius);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.169);
    font-size: 1rem;
}
.user-rating .stars
{
    display: flex;
}
.user-rating .stars svg
{
    height: 1.25em;
    width: 1.25em;
    fill: #FFB900;
}
.user-rating .person
{
    color: var(--font-secondary-color);
    font-size: 0.9em;
}