.steps
{
    width: 100%;
    --background-gray-color: rgba(192, 192, 192);
    --font-gray-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
}

.steps .step-tiles, .steps .step-names
{
    display: flex;
    justify-content: space-between;
    color: var(--font-gray-color);
}

.steps .step-tiles
{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.steps .step-tile
{
    height: 4em;
    width: 4em;
    border-radius: 100dvh;
    border: 0.5em solid var(--bg-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-gray-color);
    font-weight: 700;
    z-index: 1;
}
.steps .step-tile.active
{
    background-color: var(--accent-color);
    color: var(--fg-color);
}
.steps .line
{
    background-color: var(--background-gray-color);
    height: 3px;
    flex: 1;
}
.steps .line.active
{
    background-color: var(--accent-color);
}
/* .steps .step-names
{
} */
.steps .step-name.active
{
    color: var(--accent-color);
}