.home main section
{
    min-height: calc(100dvh - var(--navbar-height));
    padding: 100px 10%;
    scroll-margin-top: var(--navbar-height);
}
.home main section:nth-of-type(even)
{
    background-color: var(--bg-secodnary-color);
}