.button
{
    padding: 0.3rem 0.7rem;
    border-radius: var(--corner-radius);
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    text-wrap: nowrap;
}
.button svg
{
    transition: all 200ms;
}

.button.button--primary
{
    color: var(--fg-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}
.button.button--primary:hover
{
    background-color: var(--fg-color);
    color: var(--accent-color);
}
.button.button--primary svg
{
    fill: var(--fg-color);
}
.button.button--primary:hover svg
{
    fill: var(--accent-color);
}
/* .button.button--secondary
{
    background-color: var(--secondary-color);
} */
 .button.button--secondary
{
    color: var(--accent-color);
    background-color: var(--fg-color);
    /* border: 1px solid rgba(0, 0, 0, 0.12); */
    opacity: 0.95;
}
.button.button--secondary:hover
{
    /* color: var(--fg-color);
    background-color: var(--accent-color); */

    transform: scale(1.05);
    opacity: 1;
}
/* .button.button--secondary svg
{
    fill: var(--accent-color);
}
.button.button--secondary:hover svg
{
    fill: var(--fg-color);
} */
