@font-face {
    font-family: 'Lato';
    src: url("./assets/fonts/Lato/Lato-Light.ttf");
    font-weight: light;
}
@font-face {
    font-family: 'Lato';
    src: url("./assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url("./assets/fonts/Lato/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Domine';
    src: url("./assets/fonts/Domine/Domine-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Domine';
    src: url("./assets/fonts/Domine/Domine-Medium.ttf");
    font-weight: medium;
}
@font-face {
    font-family: 'Domine';
    src: url("./assets/fonts/Domine/Domine-Bold.ttf");
    font-weight: bold;
}
:root
{
    --accent-color: #B85C38;
    --bg-color: #FAF7F2;
    --fg-color: #FFFBF6;
    --primary-font-color: #2D2118;
    --secondary-font-color: #695a53;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
#root
{
    min-height: 1000dvh;
    font-family: 'Lato';
    background-color: var(--bg-color);
    font-size: 16px;
}
a, a:visited, a:hover, a:active
{
    color: unset;
    text-decoration: none;
}