.fade-in
{
    opacity: 0;
    transform: translateY(20%) scale(0.5);
    transition: transform 600ms, opacity 600ms;
    width: fit-content;
    height: fit-content;
}
.fade-in.visible
{
    opacity: 1;
    transform: translateY(0) scale(1);
}
